**/.riaktest
**/bin
*.rbc
*.swp
*.tmproj
*~
.DS_Store
.\#*
.bundle
.riaktest
.rvmrc
.yardoc
Gemfile*.lock
\#*
_notes
coverage
doc
pkg
rdoc
spec/support/test_server.yml
tmp/*
tmtags
vendor/erlang
vendor/riak

